.history {
  font-style: oblique;
  font-family: fantasy;
}

img {
  padding: 2px;
  border: 2px solid orange;
}
.vegan {
  border-style: solid;
  border-color: green;
  border-width: 3px;
}

.location {
  font-weight: bolder;
  font-family: monospace;
}

.column {
  width: 33%;
  float: left;
  background-color: gray;
}
body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 2px;
  width: 75%;
  align-content: center;
  background-color: pink;
}

h1, h2 {
  text-align: center;
}
.sidebar {
  float: right;
  background-color: black;
  color: white;
  width: 50%;
    }
a:visited {
  color: white;
}

img {
  float: left;
}
